<div class="content">
  <div class="title">
    <span>Defina as condições <br>
      do seu espaço</span>
  </div>
  <div class="question">
      <span>Qual grão você precisa estocar?</span>
  </div>

  <div>
    <ion-list>
      <ion-item>
        <ion-select placeholder="Select fruit">
          <ion-select-option value="apples">Apples</ion-select-option>
          <ion-select-option value="oranges">Oranges</ion-select-option>
          <ion-select-option value="bananas">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
</div>
