<div class="page-wrapper">
  <div class="header">
    <img src="../../../assets/img/logo-estoca-grao.png" />
  </div>
  <div>
    <div class="sub-title">
      <h4>O que você precisa?</h4>
    </div>

    <div class="btns">
      <ion-button mode="ios" expand="block" (click)="goToForm('productor')"
        >ARMAZENAR GRÃOS</ion-button
      >
      <ion-button
        mode="ios"
        class="btn-outline"
        expand="block"
        fill="outline"
        (click)="goToForm('storage')"
        >ALUGAR ESPAÇO</ion-button
      >
    </div>
  </div>
</div>
