.page-wrapper {
  justify-content: flex-start;
}

.header {
  text-align: center;
  max-width: 80vw;
  margin: 2rem auto;
}

.question {
  text-align: center;
  margin: 1.5rem auto;
}

.actions > ion-button:first-child {
  margin: 1rem auto;
}
