<div class="page-wrapper">
  <div class="header">
    <h3>{{ headingText }}</h3>
  </div>
  <div class="form-content">
    <form [formGroup]="form">
      <div *ngIf="currentStep === 0">
        <div class="question">
          <span>Qual grão você precisa estocar?</span>
        </div>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="grainType"
        >
          <ion-select-option
            *ngFor="let item of grainTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
      </div>
      <div *ngIf="currentStep === 1">
        <div class="question">
          <span>Qual período de armazenamento?</span>
        </div>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="startDate"
        >
          <ion-select-option
            *ngFor="let item of grainTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="endDate"
        >
          <ion-select-option
            *ngFor="let item of grainTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
      </div>
      <div *ngIf="currentStep === 2">
        <div class="question">
          <span>Que tipo de armazenamento você precisa?</span>
        </div>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="storageType"
        >
          <ion-select-option
            *ngFor="let item of storageTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
      </div>
      <div *ngIf="currentStep === 3">
        <div class="question">
          <span>Qual região é mais estratégica para alocar o seu produto?</span>
        </div>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="city"
        >
          <ion-select-option
            *ngFor="let item of grainTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="state"
        >
          <ion-select-option
            *ngFor="let item of grainTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
      </div>
      <div *ngIf="currentStep === 4">
        <div class="question">
          <span>Quantos quilos de grãos você precisa armazenar?</span>
        </div>
        <ion-select
          interface="action-sheet"
          placeholder="Selecione.."
          mode="ios"
          formControlName="grainWeight"
        >
          <ion-select-option
            *ngFor="let item of grainTypes"
            [value]="item.text"
            >{{ item.text }}</ion-select-option
          >
        </ion-select>
      </div>

      <div class="actions" *ngIf="!isLastStep()">
        <ion-button mode="ios" expand="block" (click)="nextStep()">
          Avançar
        </ion-button>
        <ion-button
          mode="ios"
          expand="block"
          fill="outline"
          (click)="previousStep()"
          *ngIf="currentStep >= 1"
        >
          Voltar
        </ion-button>
      </div>
    </form>

    <div class="actions" *ngIf="isLastStep()">
      <ion-button mode="ios" expand="block" (click)="goToResults()">
        Ver resultados
      </ion-button>
    </div>
  </div>
</div>
