<div class="content">
  <div class="header">
    <div class="logo">
      <img src="assets/img/—Pngtree—cartoon flame logo design free_2951394.png">
    </div>
    <div class="title">
      <span>
        Estoca Agro
      </span>
    </div>
  </div>
  <div class="sub-title">
      <span>O que você precisa?</span>
  </div>

  <div class="btns">
    <ion-button expand="block" (click)="redirect()">ARMAZENAR GRÃOS</ion-button>
    <ion-button class="btn-outline" expand="block" fill="outline" (click)="redirect()">ALUGAR ESPAÇO</ion-button>
  </div>
</div>
